:root{
    --backgroundcolor: black;
    --divbackgroundcolor:#757575;
    --fontcolor:white;

}

*{
    margin: 0;
    padding:0;
}



.main-space{
    display:block;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundcolor);

}

.select-dropdown{
    color:white;
}


#movie-search{
    padding-bottom: 10px;
}

#drink-search{
    padding-bottom: 10px;
}

#movie-1{
    display: flex;
}

#movie-2{
    display: flex;
}

#movie-3{
    display: flex;
}

#movie-poster-1{
    width:20%;
    padding:20px;
}

.movieandbutton{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;;
}

.movieinfo{
    text-align: left;
}

.movie-trailer{
    width: 200%;
    margin-top:15px;
}

.video-div{
    display:flex;
    align-items: center;
    width:500px;
}

.movie-div{
    width:max-content;
    justify-content: center; 
    align-items: stretch;
    padding-bottom: 15px;
}

.movieposter-display{
    display:flex;
    justify-content: space-between;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}


.display{
    height: max-content;
    align-items: center;
    justify-content: space-around;
}

#movie-collection-3{
    background-color: var(--backgroundcolor);
}

